$dashboard-border-color : rgba(255, 255, 255, 0.596);
$border-color : #E5E5E5;
$xx-large : 1.8rem;
$dashboard-button-color : linear-gradient(135deg, #FFF886 0%, #F072B6 100%);
$check-circle-checkbox-color : linear-gradient(135deg, #FFD3A5 0%, #FD6585 100%);
$amazon-feed-book-hover-color: rgba(255, 255, 255, 0.568);
$book-card-color: #FAFAFA;
$home-dashboard-h5-font-color: #BDBBBB;
$dashboard-word-color: white;
$mini-cards-color: #FFFEF6;
$home-tools-color: #dddddd;
$library-drop-list-button-border-color:#f7f7f7;