$amazon-book-title-font: 0.625rem;
$library-font: 0.6875rem;
$library-drop-box-option-font: 0.9875rem;
$book-card-p-font: 0.75rem;
$add-to-list-title-font: 1rem;
$mini-cards-font: Rubik;
$mini-cards-font-color: #939F00;
$main-color: #6D6D6D;