$hover-home-tools-color : linear-gradient(135deg, #FFD3A5 0%, #FD6585 100%);
$hover-home-tools-color-supplementary : linear-gradient(45deg, #FFD3A5 0%, #FD6585 100%);
$hover-circle-checkbox-color: linear-gradient(135deg, rgba(255, 211, 165, 0.3) 0%, rgba(253, 101, 133, 0.3) 100%);
$hover-book-card-color: linear-gradient(180deg, rgba(240, 247, 254, 0.5) -22.71%, rgba(250, 255, 0, 0.155) -22.3%, rgba(255, 255, 255, 0.403914) -22.3%, rgba(240, 247, 254, 0) 92.45%);
$hover-home-tools-icon-color: white;
$hover-library-drop-list-option-color:#ffbcf5e8;